.icons {
  font-size: 50px;
  opacity: 0.6;
}

.icons:hover {
  opacity: 1;
  
}

.header {
    padding-top: 15px;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 40px;
    background-color:transparent;
  }
  
  .footer {
    background-color: rgb(223, 239, 253);
  }
  
  .content {
    padding : 75px 20px 20px 20px;
    background-color: aliceblue;
  }
  
  .filtru {
    text-align:right;
    margin-top: 10px;
  }
  
  .ant-select-dropdown {
    z-index: 1;
  }
  
  .ant-tooltip {
    z-index: 1;
  }
  
  .ant-modal-content {
    margin: 10px;
  }
  
  .ant-modal-body {
    padding: 10px;
  }
  
  .ant-card-body {
    padding: 10px;
  }

  .menu {
    float:left;
    width:20%;
    text-align:center;
    font-size: 12px;
  }
  .menu a {
    background-color:#e5e5e5;
    padding:14px;
    margin-top:10px;
    display:block;
    width:100%;
    color:black;
  }
  .menu b {
    font-size: 18px;
    background-color:#68b4e7;
    padding:14px;
    margin-top:2px;
    display:block;
    width:100%;
    color:black;
  }
  .main {
    float:left;
    width:50%;
    padding:0 20px;
  }
  .right {
    background: #fafafa;
    margin: 10px auto;
    float:left;
    width:30%;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
  }

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 10px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  background-color: white;
}

.price {
  color: grey;
  font-size: 16px;
}

.name:hover {
  color: #68b4e7;
  cursor: pointer;
}

.name {
  color: #000000;
  cursor: pointer;
  height:50px;
  font-size: 14px;
}

.card button {
  margin: 0px;
  border: none;
  outline: 0;
  padding: 6px;
  color: black;
  background-color: #b6dcff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.card button:hover {
  opacity: 0.7;
}

.ant-card-meta-title {
  font-size: 12px;
}

.ant-card {
  width: 200px;
}
  
  @media screen and (max-width: 600px) {
    div.responsive {
      font-size: 20px;
    }
    .content {
      padding : 82px 10px 20px 10px;
      background-color: aliceblue;
    }
    .footer {
      padding-left: 20px;
    }
    .header {
      padding-left: 20px;
    }
    .ant-card-meta-detail > div:not(:last-child) {
      margin-bottom: 0px;
    }
    .CarouselBackground1Title {
      font-size: 2.5vw;
    }
    .CarouselBackground1Description {
      display:none;
    }
    .menu, .main, .right {
      width:100%;
    }
  }

  .ant-popover{
    position:fixed;
    z-index: 100;
  }

  .CarouselBackground1 {
    background-image: url("/images/iphone.jpg");
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .CarouselBackground1Content {
    margin: 3vw;
    width: 35vw;
    color: white;
  }

  .CarouselBackground1Title {
    font-size: 3.5vw;
  }

  .CarouselBackground2 {
    background-image: url("/images/iwatch.jpg");
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .CarouselBackground1Description {
    padding-top: 5vw;
    font-size: 1.5vw;
    color:white
  }

  .CarouselBackground2 {
    background-image: url("/images/iwatch.jpg");
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

  

  