.ModalTable {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(224, 223, 223);
  width: 150%;
}

.ModalTable tr:nth-child(odd) {
  background-color: #fff;
  text-align: center;
 }

 .ModalTable tr:nth-child(even) {
  background-color: rgb(248, 246, 246);
  text-align: center;
 }
 
 .ant-modal-content {
  margin: 10px;
}

.ant-modal-body {
  padding: 10px;
}